<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (!loggedin) { %>
    <a title="Click to log in" href="/account/login">My Account</a>
    <% } else if (loggedin) { %>
    <a href="/account/">Welcome <%- account_firstname %></a>
    <a href="/account/logout">Log out</a>
    <% } %>
  </div>
</header>