<% if(title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if(messages) { %>
<%- messages() %>
<% } else {
    res.redirect('/')
} %>

<div id="invmanlinks">
    <a href="./add-classification" class="button">Add new classification</a>
    <a href="./add-vehicle" class="button">Add new vehicle</a>
</div>